<!DOCTYPE html>
<html>
<head>
  <title>CarrierwaveAudioConvert</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="nav" data-turbolinks-permanent>4</div>
<div id="footer" data-turbolinks-temporary>5</div>

<%= yield %>

</body>
</html>
